/*NOTE SELECTOR HIERARCHY MOST SPECIFIC FIRST

1. INLINE STYLES - Example: <h1 style="color:pink;">
2. IDS- Example #navbar
3. Classes, pseudo-classes, attr selector - Example: .test, :hover, [href]
4. elements and pseudo-elements - Example: h1, :before
 */

/*START OF UNIFIED CSS - override these with selector CLASS or above if needed!*/
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.required_form{
    color: red;
}
input[type="submit"]:hover{
    color: white;
    background-color: grey;
}
.unified_banner{
    text-align: center;
    font-size: 25px;
    color: cornflowerblue;
}
/*END OF UNIFIED CSS*/
/*START OF CONTACT US*/

#contactus_form_container{
    width: 50vw;
    margin: 2.5% auto 5% auto;
    padding: 2.5% 5% 2.5% 5%;
    display: flex;
    box-shadow: -1px 0 10px #000000;
    color: cornflowerblue;
}
#contactus_form_container .contactus_form_column{
    flex: 1;
}
#contactus_form_container textarea{
    resize: vertical;
    height: 150px;
    width: 90%;
    border: 2px grey solid;
    border-radius: 5px;
    font-size: 16px;
}
#contactus_form_container input {
    width: 90%;
    border: 2px grey solid;
    border-radius: 5px;
    font-size: 16px;
}
#contactus_form_container input[type="submit"] {
    width: 70%;
    margin: auto;
    display: block;
}
#contactus_form_container select {
    width: 50%;
    color: grey;
    border: 2px grey solid;
    border-radius: 5px;
    font-size: 16px;
}
#contactus_details_map_container{
    width: 92.4vw;
    margin: auto;
    display: flex;
    height: 400px;
    flex-direction: row;
}
#contactus_details_map_container .contactus_map {
    margin: auto;
    width: 47.5%;
    height: 100%;
    box-shadow: -1px 0 10px #000000;
}
#contactus_details_map_container .contactus_information{
    width: 47.5%;
    height: auto;
    text-align: center;
    box-shadow: -1px 0 10px #000000;
}
.contactus_information h1 {
    font-size: 28px;
}
.contactus_information img {
    height: auto;
    width: auto;
    object-fit: cover;
}
.contactus_information a{
    text-decoration: none;
    color: black;
}
.contactus_information a:hover{
    color: grey;
}
/*END OF CONTACT US */


/*START OF INDEX*/

#bottom-background{
    background-image: linear-gradient(to right, #575e61, #7d8285);
}

.index_slideshow_container{
    height: 400px;
    position: relative;
}
.index_slide  {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.index_quote {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
}
#index_nav_bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #333333;
    font-weight: 800;
    margin: 20px -8px -8px;
}
#index_nav_bar a{
    flex: 1;
    text-align: center;
    margin: auto;
    padding-left: 5px;
    text-decoration: none;
    color: white;
    font-size:18px;
    position: relative;
}
#index_nav_bar img{
    max-width: 100%;
    height: auto;
}
#index_nav_bar a:hover {
    color: #82FFE8;
}
.index_cover{
    width: 81%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;

}
.index_box{
    width: 80%;
    height:100%;
    margin: 5% 3%;
    padding: 3% 1% 2.2% 1%;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    background-color: white;
}
/*.index_homeImg{
    width: 100%;
    height: 100%;
    display: flex;
}*/
.index_footer{
	text-align: center;
	padding: 2px;
	margin: -8px;
    text-decoration: none;
    font-size: 12px;
	background-color: #333333;
    font-weight:800;
	color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.index_button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.index_button_colour {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.index_button_colour:hover {
    background-color: #333333;
    color: white;
    font-weight: bold;
}
/*END OF INDEX*/

/*START OF SERVICE*/

/* Start Of Code For Slideshow */
.service_slideshow {
    margin:-8px;
}

.service_slide {
    position: relative;
}

.service_image{
    width:100%;
    height: 650px;
    object-fit: cover;
}

.service_slide .text-block {
    position: absolute;
    width: 50%;
    bottom: 30px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.service_slideshow .prev, .next{
    cursor:pointer;
    position: absolute;
    top: 400px;
    width:auto;
    margin-top: 100px;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
}

.service_slideshow .next{
    right:0;
    border-radius: 3px 0 0 3px;
}

.service_slideshow .prev:hover, .next:hover{
    background-color: black;
}

.dot{
    cursor:pointer;
    height:15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: 0.7}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: 0.7}
    to {opacity: 1}
}

/* Start of Code for 3 boxes */
.service_cover{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.service_box{
    height:100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    padding: 3% 1% 2% 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    flex-wrap: wrap;
    box-shadow: -1px 0 10px #000000;
}

.service_button {
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
}

.service_box h2{
    color: #097969;
}

.service_button:hover {
    color: #097969;
    font-weight: bold;
}

/*END OF SERVICE*/


/*START OF BOOKING*/
/*END OF BOOKING*/

/*START OF CUSTOMER FEEDBACK*/
.customer_feedback_grid {
    display: grid;
    grid-template: 300px / 1fr 1fr 1fr;
    column-gap: 5%;
    justify-self: center;
}
.customer_feedback_grid>*{
    justify-self: center;
    padding-left: 50px;
    padding-right: 50px;
}
.cfg_item-1 img,
.cfg_item-2 img,
.cfg_item-3 img {
    max-width: 100%;
    height: 100%;
    border: 2px grey solid;
    border-radius: 5px;
}
.cfg_item-4 p,
.cfg_item-5 p,
.cfg_item-6 p {
    border: 2px grey solid;
    border-radius: 5px;
}

/*END OF CUSTOMER FEEDBACK*/


/*START OF ABOUT US*/
.about_us_cover{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.about_us_box{
    height:100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 3% 1% 2% 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    flex-wrap: wrap;
    box-shadow: -1px 0 10px #000000;
}
.about_us_quote {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
}
.about_us_text {
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
    margin-left: 500px;
    margin-right: 500px;
    line-height: 27px;
}
/*END OF ABOUT US*/


/*START OF MEDIA QUERIES*/



@media (max-width: 992px) {
    /*START OF CONTACT US*/
    #contactus_details_map_container {
        flex-direction: column;
        height: auto;
        width: 80%;
    }
    #contactus_details_map_container .contactus_map {
        width: 100%;
        height: 400px
    }
    #contactus_details_map_container .contactus_information{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    #contactus_form_container{
        width: 70%;
    }

    /*END OF CONTACT US*/


    /*START OF INDEX*/
    .index_quote {
        font-size: 12px;
    }
    #index_nav_bar a{
        font-size: 16px;
    }


    /*START OF SERVICE*/


    /*END OF SERVICE*/


    /*START OF BOOKING*/
    /*END OF BOOKING*/


    /*START OF CUSTOMER FEEDBACK*/
    /*END OF CUSTOMER FEEDBACK*/


    /*START OF ABOUT US*/
    /*END OF ABOUT US*/
}


@media (max-width: 600px) {
    /*START OF INDEX*/
    #index_nav_bar {
        flex-direction: column;
        background-color: white;
    }
    #index_nav_bar a{
        color: black;
        font-size: 14px;
    }
    .index_quote {
        font-size: 8px;
    }
    .index_footer{
        font-size: 10px;
    }
    /*END OF INDEX*/


    /*START OF CONTACTUS*/
    #contactus_form_container {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }
    #contactus_banner h1{
        font-size: 30px;
    }
    /*END OF CONTACTUS*/
    /*START OF INDEX*/
    .index_cover{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
    }
    .index_box {
        height: auto;
        width: 80%;
    }
    /*END OF INDEX*/
    /*START OF SERVICE*/
    .text-block{
        font-size: 15px;
    }

    .text-block .text{
        display:none;
    }
    .service_image{
        height: 300px;
    }

    .service_cover{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
    }
    .service_box {
        height: auto;
        width: 80%;
    }
    /*END OF SERVICE*/

    /*START OF BOOKING*/
    /*END OF BOOKING*/

    /*START OF CUSTOMER FEEDBACK*/
    /*END OF CUSTOMER FEEDBACK*/

    /*START OF ABOUT US*/
    /*END OF ABOUT US*/
}