.navbar {
    list-style-type: none;
    padding: 0;
    margin:0 0 0 -8px;
    overflow: hidden;
    background-color: grey;
    position:fixed;
    top:0;
    width:100%;
    display: block;
}
.quote {
    padding-top: 100px;
    text-align: center;
}
.slide  {
    padding-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 300px;
}

.navbar a {
    color: white;
    text-align:center;
    padding: 25px 50px 25px 50px;
    text-decoration: none;
    margin-top: 10px;
    display:inline;
    float: left;

}


.navbar a:hover {
    background-color: #555;
    color: white;
}

.navbar .logo-image a:hover{
    background-color:grey;
}

.navbar .logo-image a{
    padding:0;
}

.main{
    margin-top:8em;
}