.slideshow_container{
    height: 200px;
    position: relative;
}
.slide  {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quote {
    padding-top: 100px;
    padding-bottom: 15px;
    text-align: center;
}
.navbar {
    padding: 0;
    margin:0 0 0 -8px;
    /*overflow: hidden*/
    overflow: auto;
    background-color: grey;
    position: fixed;
    top:0;
    width:100%;
    /*display: inline;*/
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}
.navbar a {
    color: white;
    text-align:center;
    padding: 25px 50px 25px 50px;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    float: left;

}
.navbar a:hover {
    background-color: #555;
    color: white;
}
.navbar .logo-image a:hover{
    background-color:grey;
}
.navbar .logo-image a{
    padding:0;
}
 /*three image containers (25% for 4, 50% for 2 etc)*/
.columnimage {
  float: left;
  width: 30%;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 50px;
  padding-top: 70px;
}
/*clear floats after image containers */
.rowimage::after {
  content: "";
  clear: both;
  display: table;
  }
.main{
    /*margin-top:8em;*/
}
footer{ 
	text-align: center;
	padding: 2px;
	margin: -8px;
	background-color: grey;
	color: white;
}
